/* home.module.css */
.home-body {
  background-size: 1000vw 1000vh;
  background-repeat: no-repeat;
  /* animation: changeColor 40s infinite; */
  
  top: 50%;
  margin-top: 220px;
}

.home-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 50%;
  margin: 10px; /* Add negative margin to counteract margin of content boxes */
}


.home-content {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Adjust width and margin to control spacing */
  margin: 10px;
  background-color: transparent;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  text-align: center;
 
}

.home-content-link {
  text-decoration: none;
  color: inherit;
}

.home-image {
  width: 100%; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  object-fit: cover;
  padding: 2px;
  border-radius: 30px;
 

}

.home-content h1 {
  font-size: 24px;
  
}
@keyframes changeColor {
  0%, 100% {
    background: linear-gradient( #1758b4, #b7de72);
   
  }
  50% {
    background: linear-gradient( #5f4a4a, #8a1c5795);
  }
}
@keyframes slideImages {
  0%, 100% {
    transform: translateX(0); /* Start from top */
  }
  20% {
    transform: translateX(0); /* Still at top */
  }
  40% {
    transform: translateX(-29%); /* Slide the images up */
  }
  60% {
    transform: translateX(-61%); /* Slide the images up */
  }
  80% {
    transform: translateX(-90%); /* Slide the images up */
  }
}

.home-pictures{
  width: 270%;
  height: 500px;
  margin: 10px;
  display: flex;
 flex-wrap: wrap;
  object-fit: cover;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  
  
}
.image-animation {
 
  animation: slideImages 30s infinite;
  width: 200%;
  height: 500px;
  display: flex;
  overflow: hidden;
  
}

.home-animation-image {
  border-radius: 100px;
  width: 100%;
  height: 100%;
  margin: 10px;
  object-fit: cover;
}

 
@media (width <= 780px) {
  @keyframes slideImages {
    0%, 100% {
      transform: translateX(0); /* Start from top */
    }
    20% {
      transform: translateX(0); /* Still at top */
    }
    40% {
      transform: translateX(-30%); /* Slide the images up */
    }
    60% {
      transform: translateX(-60%); /* Slide the images up */
    }
    80% {
      transform: translateX(-90%); /* Slide the images up */
    }
  }
  

  
  .home-body{
    background-attachment: fixed;
    background-color: white;
    
    /* animation: changeColor 30s infinite; */
  }
  .home-row {
      margin: 5px; /* Adjust margin for smaller screens */
      background-attachment: fixed;
      object-fit: cover;
      width: 100%;
      
      /* background-color: gold; */
     
  }

  .home-content {
      width: 100%; /* Full width on mobile */
      margin: 5px;
      padding: 5px;
  }

  .home-image {
    width: 100%;
    height: 250px;
     /* Adjust the height as needed for smaller screens */
  }
  .home-pictures{
    width: 300%;
    height: 300px;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  .image-animation {
    width: 400%;
    height: 100%;
    object-fit: cover;
    display: flex;
    margin: 10px;
    animation: slideImages 40s infinite;
}
}